@import "./vars.scss";




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;

}
body {
  overflow: hidden; 
   font-family: 'Comic Sans MS';
}
.card {
  background-color: bisque;
  height: 100vh;
  overflow: hidden;

  &__txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;

    &-wrapp {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: fit-content;
    }

    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 90px;
      font-family: 'Comic Sans MS';
    }

    button {
      margin-top: 50px;
      padding: 20px 100px;
      border-radius: 10px;
      border: 1px solid $button-border;
      cursor: pointer;
      background: $button;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      font-family: 'Comic Sans MS';
    }

    button:hover {
      background: $button-border;
      border: 1px solid $button;
      color: white;
    }
  }
}

.cat {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 22;

  &s {
    height: 100%;
  }

  &1 {
    width: 260px;
    height: 283px;
    position: relative;
    left: 150px;
    bottom: 0;
    z-index: 1;

    &__tail {
      width: 200px;
      position: absolute;
      bottom: 3px;
      left: -90px;
      z-index: -1;
    }
    &__hat {
      width: 110px;
      position: absolute;
      top: -30px;
      left: 0px;
    }
  }
}

.eye {
  &__l {
    @include eye;
    top: 77px;
    left: 58px;
  }

  &__r {
    @include eye;
    top: 66px;
    right: 63px;
  }

  &__r-sm {
    @include eye-small;
    top: 5px;
    left: 10px;
  }

  &__l-sm {
    @include eye-small;
    top: 5px;
    left: 10px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #00ff00;
  border-radius: 20px;
  z-index: 2;
}

.game {
  display: none;
  height: 100%;
  width: 100%;
}

.world {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}

.score {
  position: absolute;
  font-size: 30px;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.cat {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.work {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
