$button: #f5ded5;
$button-border: #e7995b;

@mixin eye-small{
    width: 40px;
    height: 40px;
    background-color: black;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}

@mixin eye{
    width: 53px;
    height: 53px;
    background-color: lightblue;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}