$red: #ff000017;

@mixin eye-small{
    width: 40px;
    height: 40px;
    background-color: black;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}

@mixin eye{
    width:50px;
    height: 50px;
    background-color: lightblue;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}